/* NAV BAR */
.contenedor-navbar .flex-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  box-shadow: 0px 7px 13px 0px rgba(219,219,219,1);
}

.flex-logo-prod{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo{
  height: 100px;
}

.productos-opciones .boton {
  margin-top: 40px;
  margin-left: 10px;
  align-items: center;
  background-color: white;
  border-width: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  justify-content: space-evenly;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
}

.productos-opciones .boton-activo{
  margin-top: 40px;
  margin-left: 10px;
  align-items: center;
  background-color: white;
  border-width: 0;
  box-sizing: border-box;
  color: #488742;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  justify-content: space-evenly;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: solid #488742;
  font-size: 25px;
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
}

.boton-activo:hover{
  color: #488742;
}

.boton::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #488742;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.boton:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.boton:hover{
  color: #488742;
}

.icono-carrito{
  padding: 30px;
} 

.icono-carrito img{
  height: 40px
}

/* CARDS */
.contenedor-titulo .titulo{
  margin-top: 50px;
  font-family: 'Julius Sans One', sans-serif;
  height: 100px;
  text-align: center;
}

.contenedor-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  margin-bottom: 100px;
}

.card-body .card-titulo{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.card-body .card-text{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.card-body .card-boton{
  margin-left: 30%;

  border-radius: 10%;
  align-items: center;
  background-color: #488742;;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  justify-content: space-evenly;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  box-shadow: 0px 3px 5px 0px rgba(173,168,173,1);
}

.card-body .card-boton:hover{
  background-color: white;
  color: #488742;
  border: 1px #488742;
  box-shadow: 0px 3px 5px 0px rgba(173,168,173,1);
}

/*DETALLES */

.detalles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  padding: 1%;
  width: 700px;
  height: 450px;
  box-shadow: 0px 3px 5px 0px rgba(173,168,173,1);
}

.card-detalles .card-detalles-img{
   margin: auto;
   margin-top: 10px;
   width: 180px;
   border-radius: 50%;
}

.card-detalles .card-detalle-texto{
  text-align: center;
  font-family:'Julius Sans One', sans-serif;
}

.contenedor-contador{
  width: 200px;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 5%;
}

.contenedor-contador .contador {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}

.contenedor-contador .contador h4{
  font-family: 'Julius Sans One', sans-serif;
}

.contenedor-contador .contador-boton{
  align-items: center;
  background-color: white;
  border-width: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  justify-content: space-evenly;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  box-shadow: 0px 3px 5px 0px rgba(173,168,173,1);
  margin-left: 12%
}

.contador-boton:hover{
  color: white;
  background-color: #488742;
  border: 1px #488742;
  box-shadow: 0px 3px 5px 0px rgba(173,168,173,1);
}
